apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-lywewfde
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-lywewfde:d38b12aa114cb3c03d63cdf5e54c875cf8de10e0@sha256:22d16fbe9c449a898bda09358d193be671dd081683943e1c08a5b9553f235fe0
          name: container-image
